@keyframes scale_heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes opacity_sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale_heart 0.3s 1 ease-in 0.1s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .sparks {
  animation: opacity_sparks 0.3s 1 ease-in 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition-delay: 0.03s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}