@keyframes scale_heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes opacity_sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */

  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--wght-text);

  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.inline_size {
  inline-size: var(--inline-size-for-blocks);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* высота тоже резиновая (сначала 327 потом 368) хз че делать тут, поставил статичную */
  /* поставил как в мобилке */
  block-size: 368px;

  background-color: var(--bg-card-color, #fff);

  margin: 100px auto;
  border: 2px solid var(--main-border-color, #000);
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
}

.header__title_h1 {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title_h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  margin: 0 auto;
  background-color: var(--bg-card-color, #fff);
  border: 2px solid var(--main-border-color, #000);
}

.card__title {
  font-variation-settings: "wght" var(--wght-title);
  font-size: var(--main-font-size);
  padding: 5px 10px; /* на самом деле там 4+6, а не 5+5, но энивей */
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  block-size: 100%;
  inline-size: 100%;
}

.first-img {
  filter: contrast(20%);
}

.second-img {
  filter: brightness(200%);
}

.third-img {
  filter: hue-rotate(90deg);
}

.fourth-img {
  filter: sepia(70%);
}

.fifth-img {
  filter: saturate(200%);
}

.sixth-img {
  filter: sepia(1) contrast(2) brightness(200%);
}

.seventh-img {
  filter: grayscale(0.8);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 13px;
  z-index: 1;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--accent-font-size);
  opacity: 50%;
  mix-blend-mode: hard-light;

  text-shadow: -1px 0 var(--border-label-color, #fff),
    0 1px var(--border-label-color, #fff), 1px 0 var(--border-label-color, #fff),
    0 -1px var(--border-label-color, #fff);
}

@supports (
  (text-stroke: 1px var(--border-label-color, #fff)) or
    (-webkit-text-stroke: 1px var(--border-label-color, #fff))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--border-label-color, #fff);
    text-stroke: 1px var(--border-label-color, #fff);
    text-shadow: none;
  }
}

.card__text {
  padding: 25px;
  font-size: var(--main-font-size);
  line-height: 21px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* сомнительно но ОУКЭЭЙ */
  gap: 12px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.like-icon {
  cursor: pointer;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale_heart 0.3s 1 ease-in 0.1s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: opacity_sparks 0.3s 1 ease-in 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition-delay: 0.03s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.button-template {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-card-color, #fff);
  border: 2px solid var(--main-border-color, #000);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button-template::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #000);
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 0;
}

.button-template:hover::before {
  transform: scaleX(1);
}

.button-template:focus {
  outline: none;
}

.button-template:focus-visible {
  box-shadow: 2px 2px 0 var(--main-border-color, #000);
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.card__icon-button {
  block-size: 34px; /* чтобы outline были в одном ряду с кнопкой Like */
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--main-color, #fff);
  mix-blend-mode: difference;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--accent-font-size);
  line-height: 90%;
}

.save-button {
  gap: 8px;

  inline-size: clamp(306px, 80%, 335px);
  /* блок сайз как в мобилке - та же проблема, что и в хедере */
  block-size: 55px;

  margin: 0 auto 100px;
}

.save-button__disk-svg {
  filter: invert(1); /* чтобы работал режим смешивания */
  mix-blend-mode: difference;
}

dialog[open] {
  block-size: 191px;
  inline-size: clamp(341px, 100%, 353px);
  padding: 30px 42px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 3fr 2fr;
  gap: 12px; /* подобрал 12 (хз почему не 20) */
}

dialog[open] svg {
  width: 39px;
  height: 39px;
  grid-column: 1;
  align-self: center;
}

dialog[open] span {
  line-height: 150%;
  text-transform: uppercase;
  grid-column: 2;
  align-self: center;
}

dialog[open] button {
  grid-column: 1 / 3;
  grid-row: span 2;
  margin-top: 10px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .header {
    inline-size: 100%;
    block-size: 327px;
  }
  .card {
    inline-size: 100%;
  }

  .save-button {
    block-size: 84px;
    flex-direction: column;
  }

  .save-button__disk-svg {
    width: 28px;
    height: 28px;
  }
}
