/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */

  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--wght-text);

  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.inline_size {
  inline-size: var(--inline-size-for-blocks);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* высота тоже резиновая (сначала 327 потом 368) хз че делать тут, поставил статичную */
  /* поставил как в мобилке */
  block-size: 368px;

  background-color: var(--bg-card-color, #fff);

  margin: 100px auto;
  border: 2px solid var(--main-border-color, #000);
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
}

.header__title_h1 {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title_h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  margin: 0 auto;
  background-color: var(--bg-card-color, #fff);
  border: 2px solid var(--main-border-color, #000);
}

.card__title {
  font-variation-settings: "wght" var(--wght-title);
  font-size: var(--main-font-size);
  padding: 5px 10px; /* на самом деле там 4+6, а не 5+5, но энивей */
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  block-size: 100%;
  inline-size: 100%;
}

.first-img { 
  filter: contrast(20%);
}

.second-img {
  filter: brightness(200%);
}

.third-img {
  filter: hue-rotate(90deg);
}

.fourth-img {
  filter: sepia(70%);
}

.fifth-img {
  filter: saturate(200%);
}

.sixth-img {
  filter: sepia(1) contrast(2) brightness(200%);;
}

.seventh-img {
  filter: grayscale(0.8);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 13px;

  font-family: var(--accent-font), sans-serif;
  font-size: var(--accent-font-size);
  opacity: 50%;
  mix-blend-mode: hard-light;

  text-shadow:
    -1px 0 var(--border-label-color, #fff), 
    0 1px var(--border-label-color, #fff), 
    1px 0 var(--border-label-color, #fff), 
    0 -1px var(--border-label-color, #fff);
}

@supports ((text-stroke: 1px var(--border-label-color, #fff)) or (-webkit-text-stroke: 1px var(--border-label-color, #fff))){
  .card__label {
    -webkit-text-stroke: 1px var(--border-label-color, #fff);
    text-stroke: 1px var(--border-label-color, #fff);
    text-shadow: none;
  }
}

.card__text {
  padding: 25px;
  font-size: var(--main-font-size);
  line-height: 21px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-bottom: 25px;
}

.like-icon {

}

.button-template {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-card-color, #fff);
  border: 2px solid var(--main-border-color, #000);
  cursor: pointer;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--accent-font-size);
  line-height: 90%;
}

.save-button {
  gap: 8px;

  inline-size: clamp(306px, 80%, 335px);
  /* блок сайз как в мобилке - та же проблема, что и в хедере */
  block-size: 55px;

  margin: 0 auto 100px;
}

dialog[open] {
  block-size: 191px;
  inline-size: clamp(341px, 100%, 353px);
  padding: 30px 42px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 3fr 2fr;
  gap:12px; /* подобрал 12 (хз почему не 20) */
}

dialog[open] svg {
  width: 39px;
  height: 39px;
  grid-column: 1;
  align-self: center;
}

dialog[open] span {
  line-height: 150%;
  text-transform: uppercase;
  grid-column: 2;
  align-self: center;
}

dialog[open] button{
  grid-column: 1 / 3;
  grid-row: span 2;
  margin-top:10px;
}

dialog::backdrop {
  background-color: rgb( 0 0 0 / 0.75);
}

@media(width <= 375px) {
  .header {
    inline-size: 100%;
    block-size: 327px;
  }
  .card {
    inline-size: 100%;
  }

  .save-button {
    block-size: 84px;
    flex-direction: column;
  }

  .save-button__disk-svg {
    width: 28px;
    height: 28px;
  }
}